html, body {
	font-family: 'Open Sans', sans-serif !important;
}

/* sticky footer */
#page {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
body.admin-bar #page {
	min-height: 96vh;
}
#content {
	flex: 1;
}

.site-header {
	padding-left: 5px;
	min-height: 5.5rem; /* otherwise, because inner content is position:relative, div has 0 height  */
	background-color: #eee;
}
.site-branding {
	position: relative;
}
/* .site-branding .custom-logo-link {
	display: block;
	position: relative;
	top: 22px;
} */
.site-title {
  position: absolute;
  top: -0.95rem;
  left: 164px;
  font-size: 2rem;
	font-family: 'Fredericka the Great', cursive;
}
.site-title a,
.site-title a:hover,
.site-title a:active {
	color: purple;
	text-decoration: none !important;
}
.site-description {
  position: absolute;
  top: 2.25rem;
  left: 164px;
	color: #999;
  font-size: 1.5rem;
	font-style: italic;
}
.main-navigation {
  position: absolute;
  top: 0;
  right: 0;
  width: auto;
	float: right;
  display: inline-block;
	padding: 10px 5px 5px 0;
}
.admin-bar .main-navigation {
	top: 40px;
}
.main-navigation .menu-toggle {
	font-size: 1rem;
	padding: 5px 6px;
}
.main-navigation li {
	margin-right: 1rem;
	border: 1px solid #ccc;
}
.main-navigation li:hover {
	background-color: aliceblue;
}
.main-navigation a {
	padding: 5px 10px;
}
.site-main {
	padding: 0 1rem;
}
.site-footer {
	height: 2rem;
	line-height: 2rem;
	font-size: 1rem;
	text-align: right;
	padding: 2px 5px 2px 0;
	background-color: #eee;
	border-top: 1px solid #ddd;
}
.site-footer .site-info {
	background-color: inherit;
}
.entry-content {
	margin-top: 0;
}
.home .site-main {
	padding: 0;
}
.home header.entry-header { /* hide the page name on the home page */
	display: none;
}
.home .entry-content p:first-of-type {
	padding: 0 1rem;
}
.home .entry-content {
	margin: 0;
}
h1.entry-title { /* page titles */
	color: purple; /* same as .site-title */
	margin: 0.25rem 0 0 0;
}
#home-slider {
	width: 100%;
	overflow-x: hidden;;
}
.content-interview .post-thumbnail,
.single-interview .post-thumbnail,
.archive-interview .post-thumbnail {
	display: inline-block;
	float: left;
	margin-right: 1rem;
}
.archive-interview .post-thumbnail:hover {
	opacity: 0.85;
}
.single-interview article header {
	margin-bottom: 1rem;
}
.archive-interview h2.entry-title {
	margin-bottom: 0;
}
.archive-interview .doctor-title {
	display: inline-block;
	padding-bottom: 5px;
}
.archive-resource .page-header {
	padding-bottom: 1rem;
}
.archive-resource article {
	float: left;
	width: 14rem;
	max-width: 14rem;
	margin: 0 1rem 1rem 1rem;
	padding: 1rem;
	border: 1px solid;
}
.archive-resource article:hover {
	background-color: aliceblue;
}
.archive-resource article a {
	display: block;
	text-align: center;
}
.archive-resource article .entry-title {
	font-size: 1rem;
	text-align: center;
}
.single-resource .post-thumbnail { /* hide thumbnail on detail page */
	display: none;
}
.nav-subtitle, .post-navigation .nav-links { /* remove next/prev links at the bottom of posts */
	display: none;
}
.entry-footer { /* hide "Edit" links */
	display: none;
}
.wds_slider_cont { /* so full width slider doesn't extend a few pixels outside of the page width*/
	width: 100% !important;
}

/* Featured Posts widget */
.widget_featured_posts_widget {
  display: flex;
	position: relative;
	align-items: center;
  justify-content: center;
	top: -5rem;
	margin: 0; /* override default widget setting */
	z-index: 999; /* on top of slider */
}
.widget_featured_posts_widget article {
	display: inline-block;
	width: 200px;
	margin: 10px;
	padding: 10px;
	border: 2px solid cyan;
	background-color: #fff;
}
.widget_featured_posts_widget img {
	width: 100%;
}
.widget_featured_posts_widget article a {
	display: block;
	text-align: center;
	text-decoration: none;
}
.widget_featured_posts_widget article a:hover {
	text-decoration: underline;
}
featured-interview:hover {
	background-color: aliceblue;
}

/* Social media icons on Contact page */

#contact-container {
	display: flex;
	flex-direction: row;
}
#contact-container article.hentry {
	margin-bottom: 0;
}
#contact-container .left {
	float: left;
	width: 400px;
	margin-right: 1rem;
}
#contact-container .right {
	display: flex;
	width: 600px;
}
#contact-container .right div[role="form"] {
	width: 100%;
}
#contact-container .contact-link {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 1rem 0;
}
#contact-container img {
  margin-right: 10px;
}

.contact-container {
  display: flex;
  flex-direction: row;
  padding: 10px 0;
}

.contact-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contact-text-container a {
	text-decoration: none;
}
.contact-text-container a:hover {
	text-decoration: underline;
}

/* Two column layout for About page */

#about-container {
	display: flex;
	flex-direction: row;
}
#about-container .left { /* slideshow */
	float: left;
	width: 50%;
	padding-right: 1rem;
}
#about-container .right { /* text */
	display: flex;
	width: 50%;
	padding: 1rem;
}

/**/

#slide-nav {
	position: fixed;
	z-index: 999;
	height: auto;
	width: 10rem;
	color: #fff;
	background-color: #ddd;
	border: 1px solid #aaa;
	overflow-x: hidden;
	overflow-y: scroll;
	margin: 0;
	right: -10rem;
	top: 3rem; /* below toggle button */
	-webkit-transition: right 300ms ease;
	transition: right 300ms ease;
}
#slide-nav.expanded {
	right: -1rem !important;
}
.admin-bar #slide-nav {
	top: 5.25rem;
}
#slide-menu {
	margin: 0;
	padding: 0;
	list-style: none;
}
#slide-nav .menu-item {
	padding: 5px 10px;
	border-bottom: 1px solid #eee;
}
#slide-nav .menu-item:hover {
	background-color: #ccc;
}
#slide-nav .menu-item a {
	color: #111;
	text-decoration: none;
}

/**/

@media screen and (min-width: 1024px) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
	#wp-admin-bar-my-account {
		display: none !important;
	}
}

@media screen and (max-width: 450px) {
	.site-branding img {
		width: 130px;
	}
	.site-title {
		left: 150px;
		font-size: 1.5rem;
	}
	.site-description {
		left: 150px;
		font-size: 1rem;
	}
	#about-container {
		display: block;
	}
	#about-container .left {
		float: none;
		width: 100%;
		display: block;
	}
	#about-container .right {
		float: none;
		width: 100%;
		display: block;
	}
	#contact-container {
		display: block;
	}
	#contact-container .left {
		float: none;
		width: 100%;
		display: block;
	}
	#contact-container .right {
		float: none;
		width: 100%;
		display: block;
	}
	.archive-resource article {
		float: none;
		width: 92%;
		max-width: 92%;
	}
	.site-footer {
		text-align: center;
	}
	.widget_featured_posts_widget article {
		margin: 5px;
	}
}
