html, body {
	font-family: 'Open Sans', sans-serif !important;
}

/* sticky footer */
#page {
	display: flex;
  min-height: 100vh;
  flex-direction: column;
}
body.admin-bar #page {
	min-height: 96vh;
}
#content {
	flex: 1;
}

.site-header {
	padding-left: 5px;
	min-height: 7rem; /* otherwise, because inner content is position:relative, div has 0 height  */
	background-color: #eee;
}
.site-branding {
	position: relative;
}
.site-title {
  position: absolute;
  top: -1rem;
  left: 164px;
  font-size: 2rem;
	font-family: 'Fredericka the Great', cursive;
}
.site-title a,
.site-title a:hover,
.site-title a:active {
	color: purple;
	text-decoration: none !important;
}
.site-description {
  position: absolute;
  top: 2.25rem;
  left: 164px;
	color: #999;
  font-size: 1.5rem;
	font-style: italic;
}
.main-navigation {
  position: absolute;
  top: 40px;
  right: 0;
  width: auto;
	float: right;
  display: inline-block;
}
.main-navigation li {
	margin-right: 1rem;
	border: 1px solid #ccc;
}
.main-navigation li:hover {
	background-color: aliceblue;
}
.main-navigation a {
	padding: 5px 10px;
}
.site-main {
	padding: 0 1rem;
}
.site-footer {
	height: 2rem;
	font-size: 1rem;
	text-align: right;
	padding: 2px 5px 2px 0;
	background-color: #eee;
	border-top: 1px solid #ddd;
}
.entry-content {
	margin-top: 0;
}
.home .site-main {
	padding: 0;
}
.home header.entry-header { /* hide the page name on the home page */
	display: none;
}
.home .entry-content p:first-of-type {
	padding: 0 1rem;
}
.home .entry-content {
	margin: 0;
}
h1.entry-title { /* page titles */
	color: purple; /* same as .site-title */
	margin: 0.25rem 0 0 0;
}
#home-slider {
	width: 100%;
	overflow-x: hidden;;
}
.single-interview .post-thumbnail,
.archive-interview .post-thumbnail {
	display: inline-block;
	float: left;
	margin-right: 1rem;
}
.archive-interview h2.entry-title {
	margin-bottom: 0;
}
.archive-interview .doctor-title {
	display: inline-block;
	padding-bottom: 5px;
}
