html, body {
	font-family: 'Times New Roman', serif !important;
}
#page {
	font-size: 1.1rem;
}
html, body {
	color: #000 !important;
}
#page a, #page a:visited, #page a:hover, #page a:focus, #page a:active {
	color: #000 !important;
	text-decoration: none;
}
#content a:hover {
	text-decoration: underline;
}

/* sticky footer */

#page {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
body.admin-bar #page {
	min-height: 96vh;
}
#content {
	flex: 1;
}

.site-header {
	padding-left: 5px;
	height: 4.5rem;
	min-height: 4.5rem; /* otherwise, because inner content is position:relative, div has 0 height  */
	background-color: #eee;
}
.site-branding {
	position: relative;
}
.site-branding .custom-logo-link img {
	display: none;
}
.site-branding .custom-logo-link-small img {
	display: block;
	width: auto;
	height: 4.5rem;
}
.home .site-branding .custom-logo-link img {
	display: block;
	width: auto;
	height: 6.5rem;
}
.home .site-branding .custom-logo-link-small img {
	display: none;
}
.site-branding .custom-logo-link {
	position: absolute;
	top: 0;
	left: -5px;
	z-index: 10;
}
.site-title, .site-description {
	display: none;
}
.home .site-title, .home .site-description {
	display: block;
	z-index: 20; /* on top of slider */
	position: absolute;
	width: 100%;
	text-align: center;
	text-shadow: 1px 1px 6px rgba(0, 0, 0, 1);
}
.site-title {
	top: 3rem;
	font-size: 5rem;
}
.site-description {
	top: 10.5rem;
	font-size: 3rem;
	color: #fff;
}

.main-navigation {
  position: absolute;
  top: 0;
  right: 0;
  width: auto;
	float: right;
  display: inline-block;
	padding: 10px 5px 5px 0;
}
.admin-bar .main-navigation {
	top: 35px;
}
.main-navigation .menu-toggle {
	font-size: 1rem;
	padding: 5px 6px;
}
.main-navigation li {
	border-radius: 5px;
	margin-right: 1rem;
	border: 2px solid #ccc;
}
.main-navigation li:hover {
	background-color: lightblue;
}
.main-navigation a {
	padding: 5px 10px;
}
.site-main {
	padding: 0 1rem;
}
.site-footer {
	height: 2rem;
	line-height: 2rem;
	font-size: 1rem;
	text-align: right;
	padding: 2px 5px 2px 0;
	background-color: #eee;
	border-top: 1px solid #ddd;
}
.site-footer .site-info {
	background-color: inherit;
}
.entry-content {
	margin-top: 0;
}
.home .site-main {
	padding: 0;
}
.home header.entry-header { /* hide the page name on the home page */
	display: none;
}
.home .entry-content p:first-of-type {
	padding: 0 1rem;
}
.home .entry-content {
	margin: 0;
}
h1.entry-title { /* page titles */
	margin: 0.25rem 0 0 0;
}
#home-slider {
	width: 100%;
	overflow-x: hidden;
}
.page-template-custom-about-template .wds_slider_cont {
  float: left;
  width: 325px !important;
  position: relative;
  left: -6px;
}
.page-template-custom-about-template .entry-content img {
	width: 20%;
	max-width: 20%;
}
.content-interview .post-thumbnail,
.single-interview .post-thumbnail,
.archive-interview .post-thumbnail {
	display: inline-block;
	float: left;
	margin-right: 1rem;
}
.archive-interview .post-thumbnail:hover {
	opacity: 0.85;
}
.single-interview article header {
	margin-bottom: 1rem;
}
.archive-interview h2.entry-title {
	margin-bottom: 0;
}
.archive-interview .doctor-title {
	display: inline-block;
	padding-bottom: 5px;
}
.archive-resource .page-header {
	padding-bottom: 1rem;
}
.archive-resource article {
	float: left;
	margin: 0 1rem 1rem 0;
	padding: 10px;
	border: 1px solid;
}
.archive-resource article:hover {
	background-color: aliceblue;
}
.archive-resource article .entry-title {
	font-size: 1rem;
	text-align: center;
}
.single-resource .post-thumbnail { /* hide thumbnail on detail page */
	display: none;
}
.nav-subtitle, .post-navigation .nav-links { /* remove next/prev links at the bottom of posts */
	display: none;
}
.entry-footer { /* hide "Edit" links */
	display: none;
}
.wds_slider_cont { /* so full width slider doesn't extend a few pixels outside of the page width*/
	width: 100% !important;
}

/* Featured Posts widget */
.widget_featured_posts_widget {
  display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	width: 100%;
	bottom: 0;
	margin: 0; /* override default widget setting */
	z-index: 20; /* on top of slider */
}
.featured-interview {
	display: inline-block;
	width: 300px;
	height: 200px;
	margin: 35px;
	padding: 8px;
	background-color: #fff;
}
.featured-interview a {
	display: block;
	text-align: center;
	text-decoration: none;
	background-size: cover;
	width: 100%;
	height: 100%;
}

/* Social media icons on Contact page */

#contact-container {
	display: flex;
	flex-direction: row;
}
#contact-container article.hentry {
	margin-bottom: 0;
}
#contact-container .left {
	/* float: left; */
	width: 410px;
	margin-right: 1rem;
}
#contact-container .right {
	/* display: flex; */
	width: 600px;
}
#contact-container div[role="form"] {
	width: 100%;
}
#contact-container .contact-link {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 1rem 0;
}
#contact-container img {
  margin-right: 10px;
}

.contact-container {
  display: flex;
  flex-direction: row;
  padding: 10px 0;
}

.contact-container img {
	height: 33px;
}

.contact-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Two column layout for About page */

#about-container {
	display: flex;
	flex-direction: row;
}
#about-container .left { /* slideshow */
	float: left;
	width: 50%;
	padding-right: 1rem;
}
#about-container .right { /* text */
	display: flex;
	width: 50%;
	padding: 1rem;
}
.page-template-custom-contact-template .post-thumbnail {
	max-height: 150px;
	overflow: hidden;
	margin-left: -1rem !important; /* to counteract .site-main padding */
	margin-right: -1rem !important; /* to counteract .site-main padding */
}

/**/

.wds_left_btn_cont, .wds_right_btn_cont { /* hide slider controls */
	display: none !important;
}

/**/

#slide-nav {
	position: fixed;
	z-index: 999;
	height: auto;
	width: 10rem;
	color: #fff;
	background-color: #ddd;
	border: 1px solid #aaa;
	overflow-x: hidden;
	overflow-y: scroll;
	margin: 0;
	right: -10rem;
	top: 3rem; /* below toggle button */
	-webkit-transition: right 300ms ease;
	transition: right 300ms ease;
}
#slide-nav.expanded {
	right: -1rem !important;
}
.admin-bar #slide-nav {
	top: 5.25rem;
}
#slide-menu {
	margin: 0;
	padding: 0;
	list-style: none;
}
#slide-nav .menu-item {
	padding: 5px 10px;
	border-bottom: 1px solid #eee;
}
#slide-nav .menu-item:hover {
	background-color: #ccc;
}
#slide-nav .menu-item a {
	color: #111;
	text-decoration: none;
}

/* MEDIA QUERIES */

.menu-toggle {
	display: none;
}
.main-navigation ul {
	display: block;
}

@media only screen and (max-width: 812px) and (orientation: landscape) { /* iPhone X */
	.menu-toggle {
		display: block;
	}
	.main-navigation ul {
		display: none;
	}
}

@media only screen and (max-width: 768px) { /* tablet */
	.page-template-custom-contact-template .post-thumbnail {
		display: none;
	}
	.site-title {
		top: 2rem;
		font-size: 3rem;
	}
	.site-description {
		top: 6.5rem;
		font-size: 2rem;
	}
	.menu-toggle {
		display: block;
	}
	.main-navigation ul {
		display: none;
	}
	.site-header {
		height: 3.5rem;
		min-height: 3.5rem;
	}
	.home .site-branding .custom-logo-link img {
		width: auto;
		height: 5rem;
	}
	.site-branding .custom-logo-link-small img {
		width: auto;
		height: 4rem;
	}
	.featured-interview {
		display: inline-block;
		width: 200px;
		height: 100px;
		margin: 25px;
		padding: 10px;
	}
}

@media only screen and (max-width: 768px) and (orientation: landscape) { /* tablet */
	featured-interview {
		width: 125px;
	}
}

@media only screen and (max-width: 414px) { /* smartphone */
	.site-title {
		top: 3rem;
		font-size: 3rem;
	}
	.site-description {
		top: 7.5rem;
		font-size: 2rem;
	}
	#wp-admin-bar-my-account {
		display: none !important;
	}
	#page {
		font-size: 0.9rem;
	}
	.site-branding img {
		width: 100px;
	}
	.widget_featured_posts_widget {
		display: block;
		bottom: 2rem;
		top: auto;
		display: flex;
		align-content: center;
		flex-direction: row;
	}
	.featured-interview {
		display: block;
		width: 200px;
		height: 125px;
		margin: 0 0 15px 0;
		padding: 5px;
	}
	#about-container {
		display: block;
	}
	#about-container .left {
		float: none;
		width: 100%;
		display: block;
	}
	#about-container .right {
		float: none;
		width: 100%;
		display: block;
	}
	#contact-container {
		display: block;
	}
	#contact-container .left {
		float: none;
		width: 100%;
		display: block;
	}
	#contact-container .right {
		float: none;
		width: 100%;
		display: block;
	}
	.archive-resource article {
		float: none;
		width: 92%;
		max-width: 92%;
	}
	.site-header {
		height: 3rem;
		min-height: 3rem;
	}
	.home .site-branding .custom-logo-link img {
		width: auto;
		height: 4.5rem;
	}
	.site-branding .custom-logo-link-small img {
		width: auto;
		height: 3.5rem;
	}
	.site-footer {
		text-align: center;
	}
	featured-interview {
		margin: 5px;
	}
}

@media only screen and (max-width: 375px) { /* small smartphone */
	#about-container .entry-content img {
		float: none;
		display: block;
		width: 100%;
		margin-bottom: 1rem;
	}
}
